[submodule "library-management-backend"]
	path = library-management-backend
	url = https://github.com/API-learning-projects/library-management-backend.git
[submodule "web-store-backend"]
	path = web-store-backend
	url = https://github.com/API-learning-projects/web-store-backend.git
[submodule "music-platform-backend"]
	path = music-platform-backend
	url = https://github.com/API-learning-projects/music-platform-backend.git
[submodule "banking-analytics-backend"]
	path = banking-analytics-backend
	url = https://github.com/API-learning-projects/banking-analytics-backend.git
